template(name="SignIn")
  .container
    .row
      .col-xs-12
        .page-header
          h1 Orçamentos
        p Apenas algumas pessoas estão autorizadas a fazer uso desta plataforma. Faça login para continuar.
        p.text-info Para mais informações contactar gabrielpoca at gmail dot com
