template(name="NewProduct")
  tr
    td
      input(type="text" id="new_description" value="{{ description }}")
    td
      input(type="number" min="0" id="new_price" value="{{ price }}")
    td
      input(type="number" min="0" id="new_quantity" value="{{ quantity }}")
    td {{ total }}€
    td.text-right
      button(type="button" class="btn btn-primary" id="new_submit")
        | {{i18n "product.insert" }}
