template(name="BudgetIndex")
  .container
    .row
      .col-xs-12
        .page-header
          h1 {{i18n 'budget.title' }}

    .row
      .col-xs-12
        .form-group
          .btn-group
            button(type="button" id="new" class="btn btn-primary btn-lg") + {{i18n 'budget.new' }}

    .row
      .col-xs-12
        table.table.table-hover.table-striped
          thead
            tr
              th {{i18n 'budget.name' }}
              th {{i18n 'budget.date' }}
              th
          tbody
            +each this
              tr
                td
                  a(href="{{ pathFor route='budget.edit' }}") {{name}}
                td {{ formatDate modifiedAt "short" }}
                td.text-right
                  a.btn.btn-default(href="{{ pathFor route='budget.edit' }}")
                    {{i18n 'budget.edit'}}
                  .btn-group
                    a.btn.btn-default(href="{{ pathFor route='budget.show' }}/download")
                      {{i18n 'budget.download' }}
                    button.btn.btn-default.dropdown-toggle(data-toggle="dropdown")
                      span.caret
                    ul.dropdown-menu.dropdown-menu-right.text-left
                      li
                        a.text-danger.delete(href="#") {{i18n 'budget.delete' }}
