template(name="BudgetShow")
  .container
    .row
      .col-xs-12
        table.table
          thead
            tr
              th Descrição
              th Preço
              th Quantidade
              th Total
          tbody
            +each products
              tr
                td {{ description }}
                td {{ price }}
                td {{ quantity }}
                td {{ total }}
            tr
              td
              td
              td
                b Total s/IVA:
              td
                b {{ budgetTotal }}€
